<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8yw0I6SBeRroxwG1XdzhETN6dC0rGCJc</string>
	<key>GCM_SENDER_ID</key>
	<string>1000637681760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.prog31632.iosproject</string>
	<key>PROJECT_ID</key>
	<string>loginpage-17933</string>
	<key>STORAGE_BUCKET</key>
	<string>loginpage-17933.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000637681760:ios:4880401d780c3621b77305</string>
</dict>
</plist>